.wrapper {
    position: relative;
    margin: 1rem auto;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--secondary);

    width: 70%;
    min-height: 30vh;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px gray;
}

.title {
    background-color: var(--primary);
    text-align: center;
    height: auto;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    padding: 0.2rem;
    margin: 10px;
}

.tasksWrapper {
    position: relative;
    overflow-y: scroll;
    max-height: 30vh;
}

.task {
    font-size: 0.7rem;
    color: var(--gray-400);
    padding: 0.5rem;
    border-bottom: 2px solid white;
}
.goalsList:hover {
    color: var(--primary);
    cursor: pointer;
}
/* @keyframes scroll {
    100% {
        top: -100%;
    }
} */

.textArea {
    border: 5px solid;
    border-radius: 10px;
    border-color: var(--primary);
    width: 15rem;
    height: 5rem;
}

@media (min-width: 900px) {
    .card {
        width: 60%;
        height: 50vh;
        margin-top: 5rem;
    }
}
