.header {
    min-height: calc(100vh - 5rem);
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan {
    border-top: 5px solid var(--primary);
    padding: 20px 5px;

    line-height: 1.6;
}

@media (min-width: 900px) {
    .header {
        font-size: 2rem;
    }
    .slogan {
        font-size: 2rem;
    }
}
