.btnWrapper {
    text-align: right;
    padding-right: 10px;
}

.btnEdit {
    background-color: var(--primary);
    border-radius: 20%;
    margin: auto;
    cursor: pointer;
}

.btnDelete {
    background-color: rgb(255, 77, 77);
    border-radius: 20%;
    margin: auto;
    margin-left: 5px;
    cursor: pointer;
}

.wrapper {
    margin-top: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

.textArea {
    border: 2px solid var(--primary);
    border-radius: 10px;
    width: 100%;
    height: 20vh;
    resize: none;
}

.btnClose {
    background-color: white;
    color: red;
    cursor: pointer;
}

.btnSubmit {
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 1rem;
    padding: 3px 7px;
    color: white;
}
