 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html,
body {
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

:root {
    --primary: #a8c87f;
    --secondary: #f0f0d1;
    --black: #000;
    --gray-800: #1f2937;
    --gray-600: #4b5563;
    --gray-400: #9ca3af;
    --gray-200: #e5e7eb;
    --white: #fff;
}

