html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
:root {
    --primary: #a8c87f;
    --secondary: #f0f0d1;
    --black: #000;
    --gray-800: #1f2937;
    --gray-600: #1f2937;
    --gray-400: #9ca3af;
    --gray-200: #9ca3af;
    --white: #fff;
}
